* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(110, 110, 110);
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

.Container {
    background: rgb(27, 27, 27);
    background-image: url(./Images/Background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20rem;
    width: 70%;
    height: auto;
    border-radius: 2rem;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1rem;
}

.headings {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    margin-top: 1rem;
}

#logo {
    width: 4rem;
    height: 4rem;
    margin: -1rem 0rem 0rem 3rem;
}

.navs {
    display: block;
    width: 5rem;
    text-align: center;
}

.navigations {
    display: flex;
    justify-content: center;
    gap: 1rem;
    list-style-type: none;
}

.about1, .about2, .about3, .about4, .about5 {
    display: none;
}

.hidden {
    display: none;
    margin-left: 40rem;
}

a {
    text-decoration: none;
    color: white;
}

.menu {
    display: flex;
}

/* .bars {
    border: 5rem rgb(54, 2, 2);
    border-radius: 1rem;
    background: pink;
} */

#menu_icon1, #menu_icon2 {
    width: 1rem;
    height: 1rem;
    margin-left: 2rem;
}

.icons {
    width: 3rem;
    cursor: pointer;
    /* height: 2rem; */
}

/* #bIcon_1 {
    display: block;
    position: absolute;
    left: 1%;
}

#bIcon_2 {
    position: absolute;
    left: 30%;
} */

.PG_Desc {
    display: flex;
    gap: 4rem;
    margin-top: 6rem;
}

.left_side {
    width: 50%;
    padding-left: 2rem;
}

.demo {
    display: flex;
    width: 7rem;
    font-size: 8px;
    margin-top: 1rem;
    border: 1px solid white;
    border-radius: 2rem;
    padding: 0.5rem;
}

#play {
    width: 2rem;
    margin-top: -0.4rem;
}

.right_side {
    width: 50%;
    margin-top: -6rem;
    padding-left: 5rem;
}

#watermark {
    color: transparent;
    font-size: 14rem;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
}

.Prod_ideas {
    width: 8rem;
    margin-left: 10rem;
}

#idea_details {
    font-size: 8px;
    margin: 0.7rem 0rem;
}

.users {
    margin-left: 8px;
}

.user {
    width: 1.3rem;
    border: 2px solid white;
    border-radius: 50%;
    margin-left: -8px;
}

#user1 {
    z-index: 4;
}

#user2 {
    z-index: 3;
}

#user3 {
    z-index: 2;
}

#user4 {
    z-index: 1;
}

#user5 {
    z-index: 0;
}

.progress {
    width: 6rem;
    /* height: 6rem; */
    border-radius: 50%;
    font-size: 10px;
    background: rgb(119, 119, 119);
    padding: 1rem;
    text-align: center;
}

.PG_base {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3rem;
    justify-content: center;
    margin-top: 1rem;
}

.tools {
    font-size: 1rem;
    font-weight: 100;
    width: 15rem;
    height: 7rem;
    text-align: center;
    padding: 1rem;
    border-radius: 4rem;
}

#tool_1 {
    border: 5px solid rgb(195, 255, 106);
    border-bottom-style: none;
    margin-top: -1.5rem;
}

#tool_2 {
    border: 5px solid rgb(255, 95, 95);
    border-bottom-style: none;
    margin-top: -3rem;
}

#tool_3 {
    border: 5px solid rgb(81, 81, 255);
    border-bottom-style: none;
}

#tool_4 {
    border: 5px solid rgb(255, 255, 80);
    border-bottom-style: none;
    margin-top: -1.5rem;
}

@media screen and (max-width: 768px){
    body {
        font-size: 7px;
    }

    .Container {
        background-size: 10rem;
    }
    
    .navs {
        width: 1rem;
    }
    
    #menu_icon1, #menu_icon2 {
        width: 0.5rem;
        height: 0.5rem;
        margin-left: 0.4rem;
    }

    #logo {
        width: 2rem;
        height: 2rem;
    }
    
    .icons {
        width: 1rem;
    }
    
    .PG_Desc {
        margin-top: 10rem;
        gap: 2rem;
    }

    .demo {
        width: 5rem;
        font-size: 5px;
        padding: 0.3rem;
    }

    .left_side {
        padding-left: 0.5rem;
    }
    
    .right_side {
        padding-left: 2rem;
    }
    
    #watermark {
        font-size: 8rem;
    }
    
    .Prod_ideas {
        margin-left: 7rem;
    }
    
    #idea_details {
        font-size: 6px;
    }
    
    .progress {
        width: 3rem;
        height: 3rem;
        font-size: 8px;
        padding: 0.5rem;
    }
    
    .PG_base {
        gap: 1.5rem;
    }
    
    .tools {
        font-size: 0.5rem;
        width: 8rem;
        height: 4rem;
    }
}

@media screen and (max-width: 425px){
    
    .Container {
        width: 85%;
        background-size: 14rem;
        height: 40rem;
    }

    .navigations {
        gap: 0.8rem;
    }

    .icons {
        width: 0.8rem;
    }
    
    .PG_Desc {
        margin-top: 6rem;
        gap: 1rem;
    }

    .demo {
        width: 5rem;
        font-size: 5px;
        padding: 0.3rem;
    }
    
    .left_side {
        padding-left: 0.5rem;
    }

    .right_side {
        margin-top: -3rem;
        padding-left: 1rem;
    }
    
    #watermark {
        font-size: 6rem;
    }
    
    .Prod_ideas {
        margin-left: 2rem;
        width: 5rem;
    }
    
    #idea_details {
        font-size: 6px;
    }
    
    .progress {
        width: 2rem;
        height: 2rem;
        font-size: 5px;
        padding: 0.5rem;
        margin-top: 2rem;
        margin-left: 4rem;
    }
    
    .PG_base {
        gap: 1rem;
        margin-top: 14rem;
    }
    
    .tools {
        font-size: 5px;
        width: 5rem;
        height: 2rem;
        padding: 0.4rem;
    }

    .user {
        width: 0.6rem;
        border: 1px solid white;
        border-radius: 50%;
        margin-left: -4px;
    }

    .demo {
        width: 4rem;
        font-size: 3px;
        margin-top: 0.5rem;
        border: 1px solid white;
    }

    #play {
        width: 1rem;
        margin-top: -0.2rem;
    }

    #logo {
        margin: -0.5rem 0rem 0rem 0rem;
    }
}